h1{
 text-align: center;
 font-size: 40px;
 border-bottom: 1px solid  #ccc;
 width: 50%;
 margin: 0 auto;
 padding: 20px 0;
 margin-bottom: 30px;
}

#content{
	margin: 0 auto;

}

#left{
	width: 320px;
	float: left;
	margin-left: 20px;
}

#right{
width:660px;
float: right;
margin-right: 20px;
position: relative;
}


.box, .circle{
	border: 5px solid#000;
	width: 300px;
	height: 300px;
}

.box {
	float: right;

}

.circle{
	border-radius:100%;
	background: #000;
	position: absolute;
	top: 160px;
	left: 160px;
	z-index: 1;
}

#a{
	background: #4E69B2;
	position: relative;
	margin-right: 20px;
	margin-bottom: 20px;
}

#b{ 
	background: #E2EAFF;
	position: relative;
	margin-right: 20px;
	margin-bottom: 20px;
}

#c {
	background: #B6CAFF;
	position: relative;
	margin-right: 20px;
}

#d {
	background-color: #B29A5C;
	position: relative;
	margin-right: 20px;
}

#e {
	width:300px;
	height: 300px;
	background-color: #FFE5A2;
	border-radius: 15px;
	position: relative;
}
